* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

#username{
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
  color: rgb(0, 139, 127);
  display: none;
}

/*///////////////////////////////// Nav section Started /////////////////////////////*/

nav {
  max-width: 100%;
  height: 7rem;
  background-color: rgb(46, 82, 95);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

nav > h1 {
  font-size: 4rem;
  font-weight: 600;
  color: black;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 2.5rem;
  margin-right: 8rem;
  color: black;
}

ul a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}

ul a:hover {
  text-decoration: underline;
  color: lightblue;
  cursor: pointer;
}

nav > button {
  font-size: 2rem;
  background-color: rgb(132, 239, 239);
  padding: 0 1rem;
  border-radius: 2rem;
}

nav > button > a {
  text-decoration: none;
}

/*/////////////////////// Nav section ended /////////////////////////// */

/*//////////////////////////////////// Main section started/////////////////// */
.main-section {
  max-width: 80%;
  margin: 2rem auto;
  background-color: rgb(23, 60, 60);
  height: 40rem;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
}

.main-section > video {
  height: 35rem;
  width: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info > h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(134, 241, 241);
  text-align: center;
}

.info > p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(181, 233, 233);
  text-align: center;
}

/*/////////////////////// main section is ended //////////////////////////////////////*/

/*//////////////////////////// Brands  section started /////////////////////////////// */

.brands_names {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
}

.brands_names > h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: rgb(62, 125, 126);
}

.img_container {
  width: 80%;
  margin: 1rem auto;
  /* background-color: aqua; */
  display: flex;
  gap: 1rem;
}

.img_container > img {
  width: 20rem;
  height: 10rem;
}

/*//////////////////////////// Brands  section ended /////////////////////////////// */

/*//////////////////// //mobile list section started ////////////////////////*/

.mobiles_list {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
  /* background-color: aqua; */
}

.mobiles_list > h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: rgb(62, 125, 126);
}

.mobiles_list > .mobile_container {
  max-width: 80%;
  height: auto;
  /* background-color: aqua; */
  margin: 1rem auto;
  padding: 1rem 2rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.first {
  width: 31%;
  height: 43rem;
  background-color: rgb(23, 60, 60);
  border: 3px solid lightskyblue;
  border-radius: 20px;
  overflow: hidden;
}

.first:hover {
  transform: scale(1.03);
  transition: 0.5s;
  box-shadow: 5px 5px 10px rgb(47, 227, 255);
}

.first > img {
  width: 100%;
  height: 55%;
}

.first > .mobile_info {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.first > .mobile_info > h1 {
  font-size: 2.5rem;
  color: rgb(187, 254, 254);
}

.first > .mobile_info > h3 {
  font-size: 1.8rem;
  color: rgb(187, 254, 254);
}

.original {
  text-decoration: line-through;
  color: rgb(13, 122, 122);
  font-style: italic;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart > h1 {
  font-size: 2.5rem;
  color: rgb(187, 254, 254);
}

.cart h1 > button {
  font-size: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
}

.cart h1 > span {
  color: lightseagreen;
}

.addItem {
  font-size: 2rem;
}

/*//////////////////// //mobile list section ended ////////////////////////*/

/* Footer section started */

.footer_section {
  max-width: 100%;
  height: 20rem;
  background-color: rgb(46, 82, 95);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.email_info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.email_info > label {
  font-size: 3rem;
  color: black;
}

.email_info > input {
  font-size: 3rem;
  background-color: black;
  border-radius: 2rem;
  color: white;
}
.email_info > input::placeholder {
  font-size: 2rem;
  padding: 1rem;
}

.links > ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  font-size: 2.5rem;
  color: black;
}

.links a {
  color: black;
}

.links a:hover {
  color: lightblue;
  transition: all 0.3s;
}

.footer_section > h1 {
  font-size: 3rem;
  color: black;
  text-align:center;
}

/* classes used for functionality in javascript */

.cart_click {
  max-width: 100%;
  height: 100vh;
  background-color: aqua;
  display: none;
}


/* animation property */

@keyframes appear {
   from {
     opacity: 0;
     scale: 0.5;
     /* transform: translateX(-100px); */
   }
   to {
     opacity: 1;
     scale: 1;
     /* transform: translateX(0px); */
   }
 
}

.block{
  animation : appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.appearList {
  animation : appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}


